@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF-Pro';
  src: url('/fonts/SF-Pro.ttf') format('truetype');
  font-style: normal;
}

:root {
  --foreground-rgb: var(--placeholder-primary, 255, 255, 255);
  --background-rgb: var(--primary-bg, 33, 35, 37);
}

body {
  font-family: 'SF-Pro', sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  max-width: 420px !important;
  height: 100vh;
  margin: 0 auto !important;
  display: flex;
  flex-direction: column;
}

body::before {
  content: '';
  position: fixed;
  width: 70%;
  height: 80%;
  border-radius: 600px;
  background: rgba(0, 122, 255, 0.25);
  filter: blur(110px);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  10% { transform: translateX(-5px); }
  20% { transform: translateX(5px); }
  30% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  50% { transform: translateX(-5px); }
  60% { transform: translateX(5px); }
  70% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  90% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake-horizontal {
  animation: shake 0.5s;
}